PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/z_runners
NODE_ENV=development
JWT_SECRET=z_runners_dev_secret
CONNECTION_STRING = 
secret = BSIT
API_URL = /api/v1
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=